@import "tailwindcss";


.back{
    background-image: url("Serene Cascade in Mystic Woods.png");
}

.text-flag {
  background: linear-gradient(
    90deg,
    #FF9933 0%,
    #FF9933 33.33%,
    #FFFFFF 33.33%,
    #FFFFFF 66.66%,
    #138808 66.66%,
    #138808 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}